In [66]:
from sharing.entity.sharing_predictor import SharingPredictor, SharingData

In [67]:
sharing_data = SharingData(season=1,
            year = 0,month= 0,hour = 0, holiday=0, weekday = 1, workingday=0, weather=0, temp = 122,
            humidity=121, windspeed=1211)

In [68]:
sharing_df = sharing_data.get_housing_input_data_frame ()
sharing_df

DICT {'season': [1], 'year': [0], 'month': [0], 'hour': [0], 'holiday': [0], 'weekday': [1], 'workingday': [0], 'weather': [0], 'temp': [122], 'humidity': [121], 'windspeed': [1211]}

,season,year,month,hour,holiday,weekday,workingday,weather,temp,humidity,windspeed
0,1,0,0,0,0,1,0,0,122,121,1211

In [69]:
dict = {'season': [1], 'year':[ 0], 'month': [0], 'hour': [0], 'holiday': [0], 'weekday': [1], 'workingday': [0], 'weather': [0], 'temp': [122], 'humidity': [121], 'windspeed': [1211]}

In [70]:
import pandas as pd

In [71]:
df = pd.DataFrame(dict )

In [72]:
df

,season,year,month,hour,holiday,weekday,workingday,weather,temp,humidity,windspeed
0,1,0,0,0,0,1,0,0,122,121,1211

In [73]:
df.index.to_list()

[0]

In [74]:
df.set_index('season',inplace=True)

In [75]:
df

,year,month,hour,holiday,weekday,workingday,weather,temp,humidity,windspeed
season,,,,,,,,,,
1,0,0,0,0,1,0,0,122,121,1211

In [76]:
import os
ROOT_DIR = os.getcwd()
SAVED_MODELS_DIR_NAME = "saved_models"
MODEL_DIR = os.path.join(ROOT_DIR, SAVED_MODELS_DIR_NAME)

In [77]:
MODEL_DIR = "d:\\GIT\\bike_share_project\\saved_models"

In [78]:
sharing_predictor = SharingPredictor(model_dir=MODEL_DIR)

In [79]:
median_housing_value = sharing_predictor.predict(X=sharing_df)

In [80]:
median_housing_value

array([100.33865691])

In [3]:
import pandas as pd
pth = r"D:\GIT\bike_share_project\sharing\artifact\data_ingestion\2022-07-21-12-18-58\raw_data\hours.csv"
df = pd.read_csv(pth)

In [4]:
df.columns

Index(['season', 'year', 'month', 'hour', 'holiday', 'weekday', 'workingday',
       'weather', 'temp', 'humidity', 'windspeed', 'count'],
      dtype='object')

In [6]:
df.month

0         1
1         1
2         1
3         1
4         1
         ..
17374    12
17375    12
17376    12
17377    12
17378    12
Name: month, Length: 17379, dtype: int64