In [6]:
pth = r"D:\GIT\Challenge\bike_share_project\sharing\artifact\data_ingestion\2022-07-14-07-31-02\raw_data\hours.csv"

In [2]:
import pandas as pd

In [7]:
df = pd.read_csv(pth)
df

,season,year,month,hour,holiday,weekday,workingday,weather,temp,humidity,windspeed,count
0,1,0,1,0,0,6,0,1,0.24,0.81,0.0000,16
1,1,0,1,1,0,6,0,1,0.22,0.80,0.0000,40
2,1,0,1,2,0,6,0,1,0.22,0.80,0.0000,32
3,1,0,1,3,0,6,0,1,0.24,0.75,0.0000,13
4,1,0,1,4,0,6,0,1,0.24,0.75,0.0000,1
...,...,...,...,...,...,...,...,...,...,...,...,...
17374,1,1,12,19,0,1,1,2,0.26,0.60,0.1642,119
17375,1,1,12,20,0,1,1,2,0.26,0.60,0.1642,89
17376,1,1,12,21,0,1,1,1,0.26,0.60,0.1642,90
17377,1,1,12,22,0,1,1,1,0.26,0.56,0.1343,61
17378,1,1,12,23,0,1,1,1,0.26,0.65,0.1343,49

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      17379 non-null  int64
 1   year        17379 non-null  int64
 2   month       17379 non-null  int64
 3   hour        17379 non-null  int64
 4   holiday     17379 non-null  int64
 5   weekday     17379 non-null  int64
 6   workingday  17379 non-null  int64
 7   weather     17379 non-null  int64
 8   temp        17379 non-null  float64
 9   humidity    17379 non-null  float64
 10  windspeed   17379 non-null  float64
 11  count       17379 non-null  int64
dtypes: float64(3), int64(9)
memory usage: 1.6 MB

In [9]:
df.columns

Index(['season', 'year', 'month', 'hour', 'holiday', 'weekday', 'workingday',
       'weather', 'temp', 'humidity', 'windspeed', 'count'],
      dtype='object')