In [13]:
from sharing.entity.sharing_predictor import SharingPredictor, SharingData

In [14]:
sharing_data = SharingData(season=1,
            year = 0,month= 0,hour = 0, holiday=0, weekday = 1, workingday=0, weather=0, temp = 122,
            humidity=121, windspeed=1211)

In [15]:
sharing_df = sharing_data.get_housing_input_data_frame ()
sharing_df

,season,year,month,hour,holiday,weekday,workingday,weather,temp,humidity,windspeed
0,1,0,0,0,0,1,0,0,122,121,1211

In [16]:
dict = {'season': [1], 'year':[ 0], 'month': [0], 'hour': [0], 'holiday': [0], 'weekday': [1], 'workingday': [0], 'weather': [0], 'temp': [122], 'humidity': [121], 'windspeed': [1211]}

In [17]:
import pandas as pd

In [18]:
df = pd.DataFrame(dict )

In [19]:
df

,season,year,month,hour,holiday,weekday,workingday,weather,temp,humidity,windspeed
0,1,0,0,0,0,1,0,0,122,121,1211

In [20]:
df.index.to_list()

[0]

In [21]:
df.set_index('season',inplace=True)

In [22]:
df

,year,month,hour,holiday,weekday,workingday,weather,temp,humidity,windspeed
season,,,,,,,,,,
1,0,0,0,0,1,0,0,122,121,1211

In [23]:
import os
ROOT_DIR = os.getcwd()
SAVED_MODELS_DIR_NAME = "saved_models"
MODEL_DIR = os.path.join(ROOT_DIR, SAVED_MODELS_DIR_NAME)

In [24]:
MODEL_DIR = "d:\\GIT\\bike_share_project\\saved_models"

In [25]:
sharing_predictor = SharingPredictor(model_dir=MODEL_DIR)

In [26]:
median_housing_value = sharing_predictor.predict(X=sharing_df)

20220723083233/

In [27]:
median_housing_value

array([102.21622521])

In [28]:
import pandas as pd
pth = r"D:\GIT\bike_share_project\sharing\artifact\data_ingestion\2022-07-21-12-18-58\raw_data\hours.csv"
df = pd.read_csv(pth)

In [29]:
df.columns

Index(['season', 'year', 'month', 'hour', 'holiday', 'weekday', 'workingday',
       'weather', 'temp', 'humidity', 'windspeed', 'count'],
      dtype='object')

In [30]:
df.month

0         1
1         1
2         1
3         1
4         1
         ..
17374    12
17375    12
17376    12
17377    12
17378    12
Name: month, Length: 17379, dtype: int64

In [31]:
pth = "D:\GIT\bike_share_project\saved_models"

In [32]:
from sharing.util.util import upload_model_s3

In [33]:
model_dir = "D:\GIT\bike_share_project\saved_models"
os.listdir(model_dir)

OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect: 'D:\\GIT\x08ike_share_project\\saved_models'

In [ ]:
folder_name = list(map(int, os.listdir(model_dir)))

OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect: 'D:\\GIT\x08ike_share_project\\saved_models'

In [ ]:
list = os.listdir(r"D:\GIT\bike_share_project\saved_models")
list

['20220721200348',
 '20220721205123',
 '20220721205537',
 '20220721220031',
 '20220721220656',
 '20220721221112',
 '20220722095222']

In [ ]:
[int(i) for i in list]

[20220721200348,
 20220721205123,
 20220721205537,
 20220721220031,
 20220721220656,
 20220721221112,
 20220722095222]

In [ ]:
lst =  [20220721221013, 20220722095143]

In [ ]:
max(lst)

20220722095143

In [ ]:
from sharing.constant import CONFIG_DIR, get_current_time_stamp
ROOT_DIR = os.getcwd()
LOG_FOLDER_NAME = "logs"
PIPELINE_FOLDER_NAME = "housing"
SAVED_MODELS_DIR_NAME = "saved_models"
MODEL_CONFIG_FILE_PATH = os.path.join(ROOT_DIR, CONFIG_DIR, "model.yaml")
LOG_DIR = os.path.join(ROOT_DIR, LOG_FOLDER_NAME)
PIPELINE_DIR = os.path.join(ROOT_DIR, PIPELINE_FOLDER_NAME)
MODEL_DIR = os.path.join(ROOT_DIR, SAVED_MODELS_DIR_NAME)
HOUSING_DATA_KEY = "housing_data"
MEDIAN_HOUSING_VALUE_KEY = "median_house_value"

In [ ]:
MODEL_CONFIG_FILE_PATH

'd:\\GIT\\bike_share_project\\notebook\\config\\model.yaml'

In [ ]:
SAVED_MODELS_DIR_NAME = "saved_models"

In [ ]:
import os

count = 0
for root_dir, cur_dir, files in os.walk(LOG_FOLDER_NAME):
    count += len(files)
print('file count:', count)

file count: 1

In [ ]:
import os

count = 0

for path in os.scandir(LOG_FOLDER_NAME):
    if path.is_file():
        count += 1
print('file count:', count)

file count: 1

In [ ]:
str = "20220723083233/"

In [36]:
milli_sec = str[12:14]
milli_sec

'33'

In [35]:
sec = str[10:12]
sec

'32'

In [34]:
min = str[8:10]
min

'08'

In [ ]:
month = str[4:6]
month

'07'

In [12]:
date = str[6:8]
date

'23'

In [7]:
year = slice(4)

In [8]:
str[year]

'2022'

In [44]:
str[year]+'-'+month+'-'+date+'-'+min+'-'+sec+'-'+milli_sec+'/'

'2022-07-23-08-32-33/'

In [7]:
season = {1:'Spring',2:'Summer',3:'Fall',4:"Winter"}

In [10]:
for s in season:
    print(s.value())

AttributeError: 'int' object has no attribute 'value'

In [1]:
from sharing.config.configuration import Configuartion

ModuleNotFoundError: No module named 'sharing'

In [2]:
ROOT_DIR = os.getcwd()

In [4]:
pth = os.path.join(ROOT_DIR,'hours.csv')

In [5]:
pth

'd:\\GIT\\bike_share_project\\notebook\\hours.csv'

In [10]:
path = os.path.exists(r"d:\\GIT\\bike_share_project\\hours.csv")

In [7]:
import pandas as pd

In [12]:
df = pd.read_csv(r"d:\\GIT\\bike_share_project\\hours.csv")

In [13]:
df

,season,year,month,hour,holiday,weekday,workingday,weather,temp,humidity,windspeed,count
0,1,1,12,8,0,1,1,1,0.22,0.69,0.0000,66
1,3,1,8,23,0,5,1,2,0.68,0.69,0.0896,178
2,4,1,12,4,0,2,1,2,0.34,0.76,0.2836,8
3,3,1,6,19,0,0,0,1,0.80,0.38,0.2985,423
4,3,0,8,14,0,0,0,1,0.86,0.47,0.1940,322
...,...,...,...,...,...,...,...,...,...,...,...,...
994,4,1,11,14,0,4,1,2,0.38,0.54,0.1642,201
995,3,1,7,13,0,4,1,1,0.92,0.33,0.2239,310
996,2,0,4,11,0,0,0,2,0.40,0.87,0.1343,202
997,2,0,6,23,0,4,1,1,0.62,0.35,0.2239,112
998,1,1,2,7,0,1,1,1,0.10,0.54,0.1940,195

False